<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
<body>


  <div class="pure-g">

    <div class="pure-u-1-8"></div>
    <div class="pure-u-3-4">
      <h1>BLOG</h1><br>

      <br><br><br>

        <form class="pure-form" method="POST" action="/<post>">
	  <fieldset>
	    <legend>WRITE A POST</legends><br><br>

            <label for="title">Title</label><br>
	    <input id="title" type="title" placeholder="Title"><br><br>

	    <label for="post">What's on Your Mind?</label><br>
	    <textarea name="post" cols="100" rows="10" placeholder="Write something..."></textarea><br>

	    <button type="submit" name="b" value="Post" class="pure-button pure-button-primary">POST</button>
          </fieldset>

      </form>

    </div>
    <div class="pure-u-1-8"></div>


  </div>

</body>
</html>
