<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
<body>


  <div class="pure-g">

    <div class="pure-u-1-8"></div>
    <div class="pure-u-3-4">
      <h1><a href = "/index"> BLOG</a> </h1><br>

      {% for item in posts %}
        <a href = "/post/{{item[0]}}"> {{item[0]}}<br></a> {{item[1]|truncate(15, True)}}<br><br><!-- proof of concept: make this into href to specific title.  item[1] is the body of the post, item[0] is its title.  API works.!-->
      {% endfor %}

      <br><br><br>

        <form class="pure-form" method="POST" action="/index">
	  <fieldset>
	    <legend>WRITE A POST</legends><br><br>

            <label for="title">Title</label><br>
	    <input name="title" type="title" placeholder="Title"><br><br>

	    <label for="post">What's on Your Mind?</label><br>
	    <textarea name="post" cols="100" rows="10" placeholder="Write something..."></textarea><br>

	    <button type="submit" name="b" value="Post" class="pure-button pure-button-primary">POST</button>
          </fieldset>

      </form>

    </div>
    <div class="pure-u-1-8"></div>


  </div>

</body>
</html>
